@{
    ViewData["Title"] = "Тестовое задание";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="pointContainer"></div>

@section Scripts  
{
    <script>
        DrawPoints();
    </script>
}

